/*
Style Name: Site Build 
Description: Final Integraded Project - Collections CSS
Author: Gonzalo Martin 
Version: 1.0
Tags: Memories museum of myslef.
*/


/* _____________________________________

   01. General Styles
   _____________________________________ */


/*---------- Reset ---------------------*/

    body {
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-family: 'GeromaRegular', serif;
    }

    h1, h2, h3, h4, p {
        margin: 0;
        padding: 0;
    }

    img {
        margin: 0;
        padding: 0;
    }

/*------------ End Reset ------------*/

/*--------------- General ------------------*/

    .hidden {
        display: none;
    }

    @font-face {
        font-family: GeromaRegular;
        src: url("../Assets/font/Georama-Regular.ttf");
    }

    @font-face {
        font-family: GeromaLight;
        src: url("../Assets/font/Georama-Light.ttf");
    }

    @font-face {
        font-family: GeromaBold;
        src: url("../Assets/font/Georama-Bold.ttf");
    } 

/*--------------- End General --------------*/

/* _____________________________________

02. CSS Grid
_____________________________________ */


    @supports (grid-area: auto) {


        .CollectionsPage {
            max-width: none;
            background-color: rgb(255, 255, 255);
        }

        .head {
            display: grid;
                grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
        }

        header {
            position: sticky;
            top: 0px;
            background-color: rgb(35, 31, 32);
            z-index: 5;
        }

        
        .one-item {
            display: grid;
            grid-column: 2 / span 2;
            grid-template-columns: 1fr;
        }

        .two-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .three-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            row-gap: 2em;
            column-gap: 2em;
        }

/* Nav Bar Setup Start */

        .head {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
            border-bottom: 1px solid #6e6e6e;
        }

        .shortlogo {
            grid-column: 1 / span 1;
        }


        .shortlogo img {
            width: 40px;
            padding-top: 15px;
            padding-left: 20px;
        }


        .nav {
            grid-column: 2 / span 3;
            padding: 0 0 0 0;
        }

        nav ul {
            margin: 0px;
            padding: 0px;
            text-align: right;
        }

        nav li {
            display: inline-block;
            padding: 20px;
        }

        nav li a {
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            font-family: GeromaBold;
            margin-left: 7px;
        }

        nav li:hover .square {
            width: calc(100% + 7px)
        }

        nav li:hover {
            cursor: pointer;
        }

        .square {
            width: 7px;
            height: 7px;
            background-color: rgb(255, 255, 255);
            transition: all .2s ease-in-out;
        }

/* Nav Bar Setup Finish */

/* Initial seccion start */

        .initial-section {
            margin: 0 0;
        }

        .initialBg img {
            width: 100%;
        }

        .initialBg {
            display: grid;
            grid-column: 1 / 4;
        }


        .initialBg {
            padding-bottom: 10px;
            max-width: 100%;
        }

        .is-text {
            position: absolute;
            justify-content: left;
            top: 1250px;
            padding-left: 20px;
            font-family: GeromaBold;
            font-size: 40px;
        }

       .navigation-history h3{
            color: rgb(109, 110, 113);
            font-size: 15px;
            padding-left: 20px;
            font-family: GeromaRegular;
        }
        .navigation-history span {
            color: rgb(152, 153, 155);
            font-family: GeromaLight;
        }

        .navigation-history {
            padding-bottom: 10px;
        }

        .gridline {
            display: grid;
            padding-left: 20px;
            padding-right: 20px;
        }

        .bottom-line {
            grid-column: 1 / span 1;
            border-bottom: 2px solid rgb(199, 199, 199);
        }

/* Sort and Filter */

        .f-s {
            padding-top: 10px;
        }

        .sort img, .filter img {
            width: 10px;
        }

        .border {
            border:0;
            border: 1px solid rgb(109, 110, 113);
            width: auto;
            padding: 5px 5px 5px 5px;
        }

        .filter {
            display: grid;
            justify-content: right;
            padding-right: 20px;
        }

        .sort {
            padding-left: 20px;
        }

        .sort button:hover, .filter button:hover {
            background: rgb(255, 255, 255);
        }
        
        .sort button, .filter button {
            background: rgb(230, 230, 230);
        }

/* Initial seccion end */

/* Collections Grid */

        .gallery-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 30px;
            column-gap: 35px;
        }

        .c-postal {
            grid-column: 1;
            grid-row: 1;
        }

        .c-fingo {
            grid-column: 2;
            grid-row: 1;
        }

        .c-ticket {
            grid-column: 3;
            grid-row: 1;
        }

        .c-sketch {
            grid-column: 1;
            grid-row: 2;
        }

        .c-university {
            grid-column: 2;
            grid-row: 2;
        }

        .c-magnets {
            grid-column: 3;
            grid-row: 2;
        }

        .c-poster {
            grid-column: 1;
            grid-row: 3; 
        }

        .c-teddy {
            grid-column: 2;
            grid-row: 3; 
        }

        .c-letter {
            grid-column: 3;
            grid-row: 3; 
        }

        .c-postal , .c-ticket , .c-fingo, .c-sketch, .c-university, .c-magnets, .c-poster, .c-teddy, .c-letter {
            display: grid;
            position: relative;
            justify-content: center;
        }


        .postal-block {
            position: absolute;
            max-width: 380px;
            background: rgb(35, 31, 32);
            padding: 0;
            right: 110px;
            bottom: 70px;
        }


        .c-fingo .postal-block{
            max-width: 390px;
            right: 105px;
        }

        .postal-block h4 {
            padding: 30px 0 0 30px;
            font-family: GeromaBold;
            font-size: 40px;
        }

        .postal-block p {
            padding: 0 30px 0 30px;
        }


        .postal-block img {
            width: 40px;
            padding: 20px 0 30px 300px;
        }

        .end-square {
            display: flex;
            grid-column: 2 / span 2;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .square2 {
            width: 20px;
            height: 20px;
            background-color: rgb(35, 31, 32);
        }

        .colections-grid {
            padding: 20px 0 0 0;
        }

        .gallery-grid a {
            text-decoration: none;
            color: #ffffff;
        }
        

        

/* Footer start */

        .foot {
            grid-template-columns: 1fr(repeat(3));
            background-color: #ffffff;
            display: grid;
        }

        .f-logo {
            display: grid;
            grid-column: 1;
            max-width: 300px;
            padding: 20px;
            padding-left: 640px;
            padding-right: 0px;
        }
        
        .border-bottom {
            border:0;
            border-bottom:1px solid rgb(109, 110, 113);
            width: 260px;
        }

        .border-submit {
            border:0;
            border: 1px solid rgb(109, 110, 113);
            margin: 5px;
            background: #dfdfdf;
        }

        .border-submit:hover {
            background: #ffffff;
        }

        .f-text {
            font-family: GeromaBold;
            color: rgb(35, 31, 32);
            margin-left: 7px;
        }

        .f-form input {
            font-family: GeromaLight;
        } 

        .square1 {
            width: 8px;
            height: 8px;
            background-color: rgb(35, 31, 32);
            transition: all .2s ease-in-out;
        }
        .f-form {
            display: grid;
            align-items: center;
        }
    }