/*
Style Name: Site Build 
Description: Final Integraded Project - Stickers CSS
Author: Gonzalo Martin 
Version: 1.0
Tags: Memories museum of myslef.
*/


/* _____________________________________

   01. General Styles
   _____________________________________ */


/*---------- Reset ---------------------*/

    body {
        margin: 0;
        padding: 0;
        color: #ffffff;
        font-family: 'GeromaRegular', serif;
    }

    h1, h2, h3, h4, p {
        margin: 0;
        padding: 0;
    }

    img {
        margin: 0;
        padding: 0;
    }

    /*------------ End Reset ------------*/

    /*--------------- General ------------------*/

    .hidden {
        display: none;
    }

    @font-face {
        font-family: GeromaRegular;
        src: url("../Assets/font/Georama-Regular.ttf");
    }

    @font-face {
        font-family: GeromaLight;
        src: url("../Assets/font/Georama-Light.ttf");
    }

    @font-face {
        font-family: GeromaBold;
        src: url("../Assets/font/Georama-Bold.ttf");
    } 

    @font-face {
        font-family: GeromaBoldItalic;
        src: url("../Assets/font/Georama-BoldItalic.ttf");
    }

    /*--------------- End General --------------*/

    /* _____________________________________

    02. CSS Grid
    _____________________________________ */


    @supports (grid-area: auto) {


        .donfingo-pack {
            max-width: none;
            background-color: rgb(255, 255, 255);
        }

        .head {
            display: grid;
                grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
        }

        header {
            position: sticky;
            top: 0px;
            background-color: rgb(35, 31, 32);
            z-index: 5;
        }

        
        .one-item {
            display: grid;
            grid-column: 2 /  2;
            grid-template-columns: 1fr;
        }

        .two-items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-evenly;
            row-gap: 2em;
            column-gap: 2em;
        }

        .three-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            row-gap: 2em;
            column-gap: 2em;
        }

    /* Nav Bar Setup Start */

        .head {
            display: grid;
            grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
            border-bottom: 1px solid #6e6e6e;
        }

        .shortlogo {
            grid-column: 1 / span 1;
        }


        .shortlogo img {
            width: 40px;
            padding-top: 15px;
            padding-left: 20px;
        }


        .nav {
            grid-column: 2 / span 3;
            padding: 0 0 0 0;
        }

        nav ul {
            margin: 0px;
            padding: 0px;
            text-align: right;
        }

        nav li {
            display: inline-block;
            padding: 20px;
        }

        nav li a {
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
            font-family: GeromaBold;
            margin-left: 7px;
        }

        nav li:hover .square {
            width: calc(100% + 7px)
        }

        nav li:hover {
            cursor: pointer;
        }

        .square {
            width: 7px;
            height: 7px;
            background-color: rgb(255, 255, 255);
            transition: all .2s ease-in-out;
        }
    }

    /* Nav Bar Setup Finish */

    /* Navigation history setup start */

        .navigation-history h3{
            color: rgb(109, 110, 113);
            font-size: 15px;
            padding-left: 20px;
            font-family: GeromaRegular;
        }
        .navigation-history span {
            color: rgb(152, 153, 155);
            font-family: GeromaLight;
        }

        .navigation-history {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .gridline {
            display: grid;
            padding-left: 20px;
            padding-right: 20px;
        }

        .bottom-line {
            grid-column: 1 / span 1;
            border-bottom: 1.5px solid rgb(152, 153, 155);
        }
    /* Navigation history setup end */

    /* Image Display section start */

        .i-display {
            display: grid;
        }

        .i-border {           
            border: 1px solid rgb(152, 153, 155);
            margin: 20px;
        }

        .i-box {
            display: grid;
            justify-content: center;
        }

        .i-box img {
            max-height: 1000px;
            padding: 10px;
        }
        
        .id-nav {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-bottom: 20px;
        }

        .id-border {
            display: grid;
            grid-column: 2;
            border: 1px solid rgb(152, 153, 155);
        }
        
        .id-box {
            padding: 10px;
        }

        .id-box a {
            margin: 1px 0 -5px 0px;
        }

        .donf1, .donf3 {
            display: grid;
            justify-content: center;
            align-content: space-around;
            filter: grayscale(100%);
        }

        .donf1:hover, .donf3:hover {
            transform: scale(1.1);
            transition: all .1s ease-in-out;
            filter: grayscale(0%);
        }

        .donf2 {
            display: grid;
            justify-content: center;
            align-content: space-around;
            scale: 1.1;
        }

      /* Image Display section end */

      /* textinfo section start */

        .info-box {
            display: grid;
            padding-bottom: 40px;
            padding-top: 40px;
        }

        .info-box h4 {
            color: rgb(109, 110, 113);;
            padding-left: 20px;
            font-family: GeromaBold;
            font-size: 40px;

        }

        .info-box p {
            color: rgb(109, 110, 113);
            padding-left: 20px;
            padding-bottom: 20px;
        }

        .principal-info a {
            text-decoration: none;
            font-family: GeromaboldItalic;
            color: rgb(35, 31, 32);

        }
        .meta-info {
            display: grid;
            align-content: center;
            background-color: rgb(35, 31, 32);
            margin-right: 20px;
            
        }

        .meta-info ul {
            list-style-type: none;
            font-family: GeromaLight;
            color: #ffffff;
            padding: 20px;
            padding-left: 50px;
        }

        .meta-info ul span {
            font-family: GeromaBoldItalic;
        }

        
    /* backbutton start */


        .back-button {
            padding-bottom: 40px;
            padding-top: 40px;
        }


        .b-button {
            display: grid;
            justify-content: center;
        }
        .b-button h3 {
            color: #ffffff;
        }

        .b-button img {
            max-width: 30px;
            margin-right: 10px;
        }

        .border {
            display: inline-flex;
            border:0;
            background-color: rgb(35, 31, 32);
            width: 190px;
            padding: 10px;
        }

        .border:hover {
            cursor: pointer;
        }

        /* backbutton end */

        /* textinfo section end */


        /* CouldInterest Gallery Start */

        .Could-interest-gallery {
            grid-column: 1;
        }

        .c-borderline .borderline {
            border-bottom: 2px solid rgb(109, 110, 113);
            margin-left: 250px;
            margin-right: 20px;
        }

        .c-borderline {
            padding-bottom: 10px;
        }

        .Subtitles {
            font-family: GeromaBold;
            font-size: 25px;
            color: rgb(35, 31, 32);
            padding-left: 20px;
        }

        .inlineitems {
            padding: 40px;
        }

        .s-border {  
            padding: 10px;
            transition: all .1s ease-in-out;
        }

        .s-border img {
            width: 500px;
        }
            

        .s-border a {
            text-decoration: none;
            color: #ffffff;
        }

        .s-border:hover {
            transform: scale(1.02);
            
        }

        .s-casetera, .s-graficaR, .s-sumotype, .s-comunication, .s-libre, .s-sara {
            display: inline;
            justify-content: center;
        }

        .s-block {
            max-width: 500px;
            background-color: rgb(35, 31, 32);
            padding: 0;
            right: 110px;
            bottom: 90px;
            margin-top: -10px;
        }

        .s-block h4 {
            padding: 30px 0 0 30px;
            font-family: GeromaBold;
            font-size: 40px;
        }

        .s-block p {
            padding: 0 30px 0 30px;
        }


        .s-block img {
            max-width: 40px;
            padding: 20px 0 30px 420px;
        }

        .end-square {
            display: flex;
            grid-column: 2 / span 2;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .square2 {
            width: 20px;
            height: 20px;
            background-color: rgb(35, 31, 32);
        }

        /* Footer start */

        .foot {
            grid-template-columns: 1fr(repeat(3));
            background-color: #ffffff;
            display: grid;
        }

        .f-logo {
            display: grid;
            grid-column: 1;
            max-width: 300px;
            padding: 20px;
            padding-left: 640px;
            padding-right: 0px;
        }
        
        .border-bottom {
            border:0;
            border-bottom:1px solid rgb(109, 110, 113);
            width: 260px;
        }

        .border-submit {
            border:0;
            border: 1px solid rgb(109, 110, 113);
            margin: 5px;
            background: #dfdfdf;
        }

        .border-submit:hover {
            background: #ffffff;
        }

        .f-text {
            font-family: GeromaBold;
            color: rgb(35, 31, 32);
            margin-left: 7px;
        }

        .f-form input {
            font-family: GeromaLight;
        } 

        .square1 {
            width: 8px;
            height: 8px;
            background-color: rgb(35, 31, 32);
            transition: all .2s ease-in-out;
        }
        .f-form {
            display: grid;
            align-items: center;
        }







