/*
Style Name: Site Build 
Description: Final Integraded Project
Author: Gonzalo Martin 
Version: 1.0
Tags: Memories museum of myslef.
*/



@font-face {
    font-family: GeromaRegular;
    src: url("../Assets/font/Georama-Regular.ttf");
}

@font-face {
    font-family: GeromaLight;
    src: url("../Assets/font/Georama-Light.ttf");
}

@font-face {
    font-family: GeromaBold;
    src: url("../Assets/font/Georama-Bold.ttf");
}  

@supports (grid-area: auto) {

    h1, h2, h3, h4, p {
        margin: 0;
        padding: 0px;
    }

    .hidden {
        display: none;
    }


    .homepage {
        max-width: none;
        background-color: rgb(35, 31, 32);
        display: grid;
        margin:  0;
    }

    header {
        position: sticky;
        top: 0px;
        background-color: rgb(35, 31, 32);
    }

    .mainpage {
        display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }
    
    .one-item {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: 1fr;
    }

    .two-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        row-gap: 2em;
        column-gap: 2em;
    }

    .three-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        row-gap: 2em;
        column-gap: 2em;
    }

    /* Nav Bar Setup Start */

    .head {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .shortlogo {
        grid-column: 1 / span 1;
    }

    .shortlogo svg {
        width: 40px;
        padding: 20px;
    }

    .nav {
        grid-column: 2 / span 3;
        padding: 0 30px 0 0;
    }

    nav ul {
        margin: 0px;
        padding: 0px;
        text-align: right;
    }

    nav li {
        display: inline-block;
        padding: 20px;
    }

    nav li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-family: GeromaBold;
    }

    nav li:hover .square {
        width: calc(100% + 8px)
    }

    nav li:hover {
        cursor: pointer;
    }

    .square {
        width: 8px;
        height: 8px;
        background-color: aliceblue;
        transition: all .2s ease-in-out;
    }

    /* Nav Bar Setup Finish */

    /* Body Setup Working */

    .initial-section {
        display: grid;
    }

    .initialBg {
        grid-column: span 4;
    }

    .museumlogo {
        grid-column: 2 / span 2;

    }

    .museumlogo svg {
        display: grid;
        align-content: center;
        padding-bottom: 50px;
        width: 500px;
    }


    .Subtitles {
        font-family: GeromaLight;
        font-size: 18px;
        color: #ffffff;
        padding-bottom: 20px;
    }

    .Highlights {
        grid-column: 1 / span 1;
        padding: 20px;
    }

    .Highlights h3 span {
        font-family: GeromaBold;
        font-size: 25px;       
    }

    .highlights-gallery {
        display: grid;
        align-content: space-around;
    }

    .highlights-gallery h4 {
        font-family: GeromaBold;
        color: #ffffff;
    }

    .highlights-gallery img {
        justify-content: space-around;
    }

    .highlights-gallery p {
        font-family: GeromaRegular;
        color: #ffffff;
    }

    .boxborder {
        width: 550px;
        height: 656px;
        border: 2px;
        border-color: #d3d3d3;
    }

    .memories-banner {
        display: grid;
        grid-column: span 4;
        justify-content: left;
        padding: 100px 20px 100px 20px;
    }

    .collections {
        grid-column: 1;
        padding: 20px;
    }   
    
    .collections h3 {
        font-family: GeromaBold;
        font-size: 25px;
    }

    .gridline {
        display: grid;
    }

    .bottom-line {
        grid-column: 1 / span 1;
        padding: 20px;
        border-bottom: 2px solid rgb(199, 199, 199);
        width: 1800px;
    }

    .who-i-am {
        display: grid;
        grid-row: 6;
    }

    .portrait {
        display: grid;
        grid-column: 1;
    }
    
    .portrait img {
        width: 800px;
    }

    .text {
        grid-column: 2
    }
}