@font-face {
    font-family: GeromaRegular;
    src: url("../Assets/font/Georama-Regular.ttf");
  }

@font-face {
    font-family: GeromaBold;
    src: url("../Assets/font/Georama-Bold.ttf");
  }  

  .main {
    background-color: rgb(224, 211, 211);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* Nav Bar Setup Start */

.logo {
    width: 50px;
    height: 50px;
}
  
.title {
    font-family: GeromaRegular;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 1), rgba(15, 15, 15, .4) 65%, rgba(0, 0, 0, 0));
}

.link-text {
    font-family: GeromaBold;
    color: aliceblue;
    margin: 0%;
    padding: 0 0 5px 10px;
    font-size: 18pt;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.nav-button {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
    align-items: flex-start;
    transition: all .2s ease-in-out;
}

.nav-button:hover .square {
    width: calc(100% + 10px);
}

.nav-button:hover {
    cursor: pointer;
}

.link-text:hover {
    color: cornflowerblue;
}

.square {
    width: 8px;
    height: 8px;
    background-color: aliceblue;
    transition: all .2s ease-in-out;
}

/* Nav Bar Setup Finish */

.first-banner {
    width: 100%;
    height: 300px;
    background-color: black;
}